<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Student Details</h1>
    <table id="student-detail">
        <thead>
            <tr>
                <th>Roll Number</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{studentdetail.roll_number}}</td>
                <td>{{studentdetail.first_name}}</td>
                <td>{{studentdetail.last_name}}</td>
            </tr>
        </tbody>
    </table>
    <br/>

    <br/>
    <h1>Enrollment list</h1>
    <table id="student-enrollments">
    <thead>
        <tr>
            <th>SNo</th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Course Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses%}
        {% for enrollment in enrollments %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{course.course_code}}</td>
            <td>{{course.course_name}}</td>
            <td>{{course.course_description}}</td>
        </tr>
        <td>
            <a href="/student/{{enrollment['student_id']}}/withdraw/{{enrollment['course_id']}}">Withdraw</a>
        </td>
        {% endfor %}
        {% endfor %}
    </tbody>
    </table>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <a href="/">Go Back</a>
</body>

</html>